@model IEnumerable<Apiario.Models.DadosCaixa>
    @{
        ViewBag.Title = "Monitorar Caixas";
        Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    }

    <h2>Monitorar Caixas</h2>

<table class="table table-responsive ">
    <tr>
        <th>Data</th>
        <th>Peso</th>
        <th>Fluxo Abelhas/h</th>
        <th></th>
    </tr>
    @foreach (var dados in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x=>dados.dataDadosCaixa)</td>
            <td>@Html.DisplayFor(x => dados.peso)</td>
            <td>@Html.DisplayFor(x => dados.fluxoAbelhas)</td>
        </tr>

    }
</table>

<div>
    <a href="VisualizarCaixas?idApiario=@ViewBag.idApiario" class="btn btn-info" role="button">Voltar</a>
</div>